{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ADD A TEAM BITWA</title>
</head>

<body id="bg" style="background-image:url('{% static "images/FOOD_BACKGROUND.jpg" %}');">
        <label for="1stper">Choose 1st person:</label>
        <form action="addteam">
        <select name="per" id="per">
          {% block userlisting %}
          {% for a in userlist %}
          <option value="{{a}}">{{a.req_name}}</option>
          {% endfor %}
          {% endblock %}
        </select>
        <button type="submit">ADD</button>
      </form>



      <script type="text/javascript" src="{% static 'JS/addteam.js' %}"></script>
</body>
</html>