<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle underline" id="services" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Services
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">Subscription Type-i</a></li>
        <li><a class="dropdown-item" href="#">Subscription Type-ii</a></li>
        <li><a class="dropdown-item" href="#">Subscription Type-iii</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Support</a></li>
        <li><a class="dropdown-item" href="#">Review Us!!</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle underline" id="services" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Services
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">Subscription Type-i</a></li>
        <li><a class="dropdown-item" href="#">Subscription Type-ii</a></li>
        <li><a class="dropdown-item" href="#">Subscription Type-iii</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Support</a></li>
        <li><a class="dropdown-item" href="#">Review Us!!</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle underline" id="services" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Services
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">Subscription Type-i</a></li>
        <li><a class="dropdown-item" href="#">Subscription Type-ii</a></li>
        <li><a class="dropdown-item" href="#">Subscription Type-iii</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Support</a></li>
        <li><a class="dropdown-item" href="#">Review Us!!</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle underline" id="services" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Services
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">Subscription Type-i</a></li>
        <li><a class="dropdown-item" href="#">Subscription Type-ii</a></li>
        <li><a class="dropdown-item" href="#">Subscription Type-iii</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Support</a></li>
        <li><a class="dropdown-item" href="#">Review Us!!</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle underline" id="services" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Services
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">Subscription Type-i</a></li>
        <li><a class="dropdown-item" href="#">Subscription Type-ii</a></li>
        <li><a class="dropdown-item" href="#">Subscription Type-iii</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Support</a></li>
        <li><a class="dropdown-item" href="#">Review Us!!</a></li>
        </ul>
    </li>
</body>
</html>