{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>🍞 F-Line DashBoard</title>
        <!-- Favicon -->
        <link rel="icon" href="Favicon/favicon.ico">
        
        <!-- Bootstrap CSS and JS  -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>      
        
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Open+Sans&family=Pacifico&family=Roboto&family=Orelega+One&family=Ubuntu&display=swap" rel="stylesheet">
        
        <!-- CSS-->
        <link rel="stylesheet" href="{% static '/CSS/styles.css' %}" type="text/css">
</head>
<body>
    <!--Header start-->
        <!--Navbar start-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">F-Line DashBoard</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div style="color: white;">
                    Welcome {{NAME}} 🔘{{TYPE}}
                </div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                </ul>
                <div class="userLogo">
                    <img src="{{IMAGE.url}}" height="50px" width="50px" alt="user-photo" class="rounded-circle me-2">
                </div>
              </div>
            </div>
          </nav>
        <!--Navbar start-->
    <!--Header end-->
    <!--middle section start-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <!--Sidebar content-->
                <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                        {% block Headname %}
                        {% if TYPE == "NGO" %}
                        <span class="fs-4">NGO CENTER {{id}} </span>
                        {% endif %}
                        {% if TYPE == "HOTEL" %}
                        <span class="fs-4">{{HOTEL_NAME}}</span>
                        {% endif %}
                        {% endblock %}
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link active" aria-current="page">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                                My Account
                                {% block hotelaccount%}
                                {% if TYPE == "HOTEL" %}
                                <div class="containe"> {{NAME}}
                                </div>
                                {% endif %}
                                {% endblock %}
                                {% block NGOaccount%}
                                {% if TYPE == "NGO" %}
                                <div class="containe"> {{NAME}}
                                </div>
                                {% endif %}
                                {% endblock %}
                                {%  block useraccount %}
                                {% if TYPE == "USER" %}
                                <div class="containe"> {{NAME}}
                                </div>
                                {% endif %}
                                {% endblock %}
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-dark">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                                DashBoard  
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-dark" >
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                                Orders
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-dark">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                                My Teams
                            </a>
                        </li>
                        {% block regNgo %}
                        {% if TYPE == "HOTEL" %}
                        <li>
                            <a href="#" class="nav-link link-dark">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                                subscribed NGOs
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-dark">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                                Requests
                            </a>
                        </li>
                        {% endif %}
                        {% endblock %}
                        {% block regHOT%}
                        {% if TYPE == "NGO" %}
                        <li>
                            <a href="#" class="nav-link link-dark">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                                Registered Hotels
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-dark">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                                Request Hotels 
                            </a>
                        </li>
                        {% endif %}
                        {% endblock %}
                       
                    </ul>
                    <hr>
                    <div class="dropdown">
                        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{IMAGE.url}}" alt="user-photo" width="32" height="32" class="rounded-circle me-2">
                            <strong>{{NAME}}</strong>
                        </a>
                        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <!--Body content-->
                <!--Put your code here and all the things that are to be rendered-->
                <div class="container-fluid d-flex justify-content-center align-items-center my-2" style="text-align: center; background-color:#064663; color: white; border-radius: 10px;">
                    We are privileged to be a part of F-line Services and honoured that you have chosen this portal for a great cause we promise to deliver out best !!
                </div>
                
                <div class="container d-flex justify-content-center align-items-center my-2" style="border: 2px solid green; border-radius: 10px;">
                    My Account box
                </div>
                <div class="container d-flex justify-content-center align-items-center my-2" style="border: 2px solid red; border-radius: 10px;">
                    My teams box
                    {% block addteam%}
                    {% if TYPE == "NGO" %}
                    <a action="addteam" href="addteams.html" style="border:1px solid red ;border-radius:50%; align-items: center;text-align: center;">+</a>

                    {% endif %}
                    {% endblock %}

                    {% block SUBSC %}
                    {% for i in SUBSCRIPTIONS %}
                    <div class="container">{{i.hotel_sub}} {{i.ngo_sub}}{{i.sub_date}}{{i.days}}</div>
                    {% endfor %}
                    {% endblock %}
                </div>
                
                <div class="container d-flex justify-content-center flex-column align-items-center my-2 requestingNgosBox" style="border: 2px solid blue; border-radius: 10px;background: #DFDCE5FF;">
                    {% block req%}
                    {% if TYPE == "NGO" %}
                    <div class="container d-flex justify-content-center align-items-center my-2 ngoListMsg" style="border: 1px solid black; border-radius: 50px;font-size: xx-large;font-family: 'Orelega One', cursive; text-shadow: 2px 2px 4px #000000;color: #F5F5DC;background-color: #97B3D0FF;">
                        OUR SUBSCRIBED HOTELS & RESTURENTS
                    </div>
                    {% for i in SUBSCRIPTIONS_HOTELS %}
                    <div class="container d-flex justify-content-center align-items-center styleform" style="margin:3px">
                    <div class="container d-flex justify-content-center ngoInfoBody align-items-center my-3 expandCardShadowLess" style="border-radius: 50px;background-color: 	#FF8C00;border-radius: 50px;/* border:2px solid black; */;box-shadow: 5px 5px 5px #FFB07C;transition: 0.7s ease; padding-top: 6px;padding-bottom: 6px; font-family: 'Roboto' , sans-serif;" onmouseover="this.style.boxShadow='0px 0px 5px 5px #F7FF93'" onmouseleave="this.style.boxShadow='5px 5px 5px #FFB07C'">
                                {{i.hotel_sub}}
                                {{i.ngo_sub}}
                                {{i.days}}
                            </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% if TYPE == "HOTEL" %}
                    <div class="container d-flex justify-content-center align-items-center my-2 ngoListMsg" style="border: 1px solid black; border-radius: 50px;font-size: xx-large;font-family: 'Orelega One', cursive; text-shadow: 2px 2px 4px #000000;color: #F5F5DC;background-color: #97B3D0FF;">
                        List of Requesting NGOs

                    </div>
                    
                    {% for i in REQUESTS %}
                    <div class="container d-flex justify-content-center align-items-center styleform" style="margin:3px">
                        <form action="accept" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="container d-flex justify-content-center ngoInfoBody align-items-center my-3 expandCardShadowLess" style="border-radius: 50px;background-color: 	#FF8C00;border-radius: 50px;/* border:2px solid black; */;box-shadow: 5px 5px 5px #FFB07C;transition: 0.7s ease; padding-top: 6px;padding-bottom: 6px; font-family: 'Roboto' , sans-serif;" onmouseover="this.style.boxShadow='0px 0px 5px 5px #F7FF93'" onmouseleave="this.style.boxShadow='5px 5px 5px #FFB07C'">
                                <input type="hidden" name="hotel_sub" value="{{i.receiever}}">
                                <input type="hidden" name="ngo_sub" value="{{i.sender}}">
                                <input type="hidden" name="day_count" value="{{i.day_count}}">
                                <input type="hidden" name="identifier" value="{{i.id}}">
                                {{i.receiver}}
                                {{i.sender}}
                                {{i.day_count}}
                                {{i.time}}
                                &nbsp;&nbsp;
                                <button type="submit" style="border-radius: 50px;color: darkgreen;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                    </svg>
                                </button>
                                &nbsp;&nbsp;
                                <button type="submit" style="border-radius: 50px;color: red;" formaction="reject" formmethod="POST" formenctype="multipart/form-data">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                     </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endblock %}
                </div>
                <div class="container d-flex flex-column justify-content-center align-items-center my-2 registeredHotelsBox" >
                    <div class="container d-flex justify-content-center align-items-center my-2 hotelListMsg">
                        List of Registered Hotels/Restaurants in your zone
                    </div>
                    {% block req1 %}
                    {% if TYPE == "NGO" %}
                    {% for i in HOTELS %}
                    <div class="container d-flex  justify-content-center align-items-center styleform" style="margin:3px;">
                        <form action="req_sent" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="container d-flex  justify-content-center align-items-center bd-highlight hotelInfoBody expandCardShadowLess my-2">
                                <div class="container hiddenInfo">
                                    <input type="hidden" name="sender_mail" value="{{EMAIL}}">
                                </div>
                                <div class="container" >
                                    <img src="{{i.hotel_image_upload.url}}" alt="user-photo" width="40" height="40" class="rounded-circle me-2 hotelImage">
                                </div>
                                <div class="container hiddenInfo">
                                    <input type="hidden" value="{{i.hotel_email}}" name="hotel_email">
                                </div>
                                <div class="container p-2 flex-fill bd-highlight hotelName">
                                    {{i.hotel_name}}
                                </div>
                                <div class="container">
                                    <input type="number" class="rounded-3 headCount" id="" name="head_count" placeholder="Head Count" maxlength="2">
                                </div>
                                <button type="submit" class="hotelRequestBtn d-flex justify-content-center align-text-center" id="addColor">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                                     </svg> 
                                </button>
                            </div>
                        </form>    
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endblock %}
                </div>
                </div>
                <!-- Footer Start -->
                <div class="container">
                    <footer class="py-3 my-4">
                        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                            <li class="nav-item"><a href="#navBar" class="nav-link px-2 text-muted">Home</a></li>
                            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
                            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
                            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                            <li class="nav-item"><a href="aboutUs.html" class="nav-link px-2 text-muted">About</a></li>
                        </ul>
                        <p class="text-center text-muted">© 2022 F-Line Services Company, Inc</p>
                        <div class="center">
                            <a href="index.html#navBar" class="text-center text-muted">Back to top</a>
                        </div>
                    </footer>
                </div>
                <!-- Footer end -->
            </div>
        </div>
    </div>
    <!--middle section end-->


    
</body>
</html>